
body {
  background-color: rgb(39, 135, 231);
}

h1 {
  color: rgb(160, 76, 7);
  text-align: center;
}

p {
  font-family: comic sans ms, sans-serif;
    color: rgb(255, 255, 255);
  font-size: 20px;
}
